<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Buy Item {{ item_id }}</title>
  </head>
  <body>
    <h1>{{ name }}</h1>
    <p>{{ description }}</p>
    <p>{{ price }} $ </p>
    <button id="buy-button">Buy</button>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
      var stripe = Stripe('pk_test_51M6hWEKr8lCKzhn0FBnpjK0znppWz0dW5AWPtIAzj1qSvgwMVyoHLD2PZgnVAWr10if55D3hkhTArrPlSUm4Qtdl00J7t11sc6');
      var buyButton = document.getElementById('buy-button');
      buyButton.addEventListener('click', function() {
        fetch('/buy/1', {method: 'GET'})
        .then(function(response) {
            return response.json();
        })
        .then(function(session) {
            return stripe.redirectToCheckout({ sessionId: session.session_id });
        })
      });
    </script>
  </body>
</html>
